.grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;

    .component-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .title {
            font-size: 24px;
        }

        .action-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }

        .medium-icon {
            font-size: 32px;
            height: 32px;
            width: 32px;
          }
        
        .component-icon {
            width: 32px;
            height: 32px;
            font-size: 32px;
            color: rgba(0, 0, 0, 0.8);
            
            

            &:hover {
                color:rgba(0, 0, 0, 0.5);
            }
          }
    }

    .grid {
        width: 100%;
        height: 100%;
    }
   
}
